after some time i update availability page path and names and links accordingly
File: back_app/routes.py
--- a/file:///c%3A/Users/alame/OneDrive/Desktop/hospital%20management%20system_main_folder/Mad%201%20web%20app/back_app/routes.py
+++ b/file:///c%3A/Users/alame/OneDrive/Desktop/hospital%
20management%20system_main_folder/Mad%201%20web%20app/back_app/routes.py
@@ -395,7 +395,7 @@
         day_name = item.day_of_week.lower() # 'Monday' ko 'monday'
         availability_data[day_name] = item # Poora object save kar rahe hain